{% extends 'base.html.twig' %}

{% block title %} Modification du profil Utilisateur {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block breadcrumbItem %}
<li class=""><a href="javascript:void(0);">Utilisateur</a></li>
<li class=""><a href="javascript:void(0);">Modification</a></li>
<li class="active"><a href="#">Profil</a></li>
{% endblock %}

{% block body %}
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body mx-5">        
                <h4 class="mt-2 mb-4 header-title">Modification du profil utilisateur</h4>
                {{ form_start(form) }}
                {#{{ form_widget(form) }}#}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.firstName, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.firstName, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.lastName, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.lastName, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.email, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.email, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.countryCode, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.countryCode, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.phoneNumber, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.avatar, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.avatar, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>
                                
                <button type="submit" class="btn btn-primary mt-4 waves-effect" id="saveBtn">
                    <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                    Save
                </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $('#saveBtn').click(function(){
        //block of code that runs when the click event triggers
        $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none');
        //$('#saveBtn').prop('disabled', true);
    });
    
</script>

{% endblock %}