{% extends 'admin/base.html.twig' %}

{% block title %} Accueil Produits  {% endblock %}

{% block stylesheets %}
<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="mdi mdi-google-pages mr-2"></i>Produits</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Accueil</li>
            <li class="breadcrumb-item active">Produits</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="header-title">Liste des Produits</h5>
                    <div class="mt-2 mb-2 mr-5 text-right">
                        <a href="{{path('admin_product_create')}}"  class="btn btn-info btn-lg rounded waves-effect" data-toggle="tooltip" data-placement="top" title="Créer un nouveau produit ?"><i class="fa fa-plus-circle mr-2"></i> <i class="mdi mdi-google-pages"></i></a>
                    </div>
                    <div class="">
                        <table id="datatable2" class="table dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr class="text-center">
                                    {# <th>#</th> #}
                                    {# <th>SKU</th> #}
                                    <th>Name</th>
                                    <th>Tarifs</th>
                                    {# <th>Description</th> #}
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for subscription in subscriptions %}
                                <tr class="text-center">
                                    {# <td>{{subscription.id}}</td> #}
                                    {# <td>{{subscription.sku}}</td> #}
                                    <td class="text-left">{{subscription.name}}</td>
                                    <td>
                                        <ul class="mb-0">
                                            <li class="mb-2 list-inline-item text-muted font-13"><i class="mdi mdi-label text-warning mr-2"></i>1 Mois - {{subscription.tarifs[1]}} XAF</li>
                                            <li class="mb-2 list-inline-item text-muted font-13"><i class="mdi mdi-label text-primary mr-2"></i>6 Mois - {{subscription.tarifs[6]}} XAF</li>
                                            <li class="mb-2 list-inline-item text-muted font-13"><i class="mdi mdi-label text-success mr-2"></i>12 Mois - {{subscription.tarifs[12]}} XAF</li>
                                        </ul>
                                    
                                    </td>
                                    {# <td>{{product.description}}</td> #}
                                    <td>
                                        <a href="{{path('admin_product_edit', {'id':subscription.id})}}"  class="btn btn-soft-info btn-xs rounded waves-effect" data-toggle="tooltip" data-placement="top" title="Modifier le Produit ?"><i class="far fa-edit"></i> </a></a>
                                        {# {% if product.lots|length > 0 %}
                                        <a href="{{path('lots_index', {'prod':subscription.id, 'inv':0})}}" class="btn btn-soft-purple btn-xs rounded waves-effect" data-toggle="tooltip" data-placement="top" title="View Lots"><i class="far fa-eye"></i></a>
                                        {% endif %} #}
                                        <a href="{{path('admin_product_delete', {'id':subscription.id})}}" class="btn btn-soft-danger btn-xs rounded waves-effect" data-toggle="tooltip" data-placement="top" title="Supprimer le Produit ?"><i class="fas fa-trash"></i> </a>   
                                    </td>    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>           
                </div>
            </div>
        </div>
    </div><!--end row-->
{% endblock %}

{% block javascripts %}
<!-- Required datatable js -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script>    
{% endblock %}